
<h2>Fale Conosco</h2>
<form method="POST" action="/fale/add">
    <input name="nome" placeholder="Nome" required>
    <input name="email" placeholder="Email" required>
    <textarea name="mensagem" placeholder="Mensagem" required></textarea>
    <button type="submit" class="btn btn-outline-info">Enviar</button>
</form>
