<form method="POST" action="login/add">
  <input type="text" name="nome" placeholder="você é admin ou usuario?" required>
   <input type="text" name="senha" placeholder="senha" required>
  <label for="tipo">Tipo de usuário:</label>
  <button type="submit"class="btn btn-outline-info">Reservar</button>
</form>
<a href="/login/registerform">Não tem uma conta? Cadastre-se aqui</a>