<h2>Cadastro de Usuário</h2>
<form action="/login/addregister" method="POST">
  <label for="nome">Nome:</label>
  <input type="text" name="nome" required />

  <label for="senha">Senha:</label>
  <input type="password" name="senha" required />

  <label for="tipo">Tipo de usuário:</label>
  <select name="tipo">
    <option value="Admin">Admin</option>
    <option value="User">User</option>
  </select>

  <button type="submit">Cadastrar</button>
</form>

{{#if error}}
  <p style="color: red;">{{error}}</p>
{{/if}}