<form method="POST" action="/reserva/add">
  <input type="text" name="nome" placeholder="Seu nome" required>
  <input type="text" name="telefone" placeholder="Seu telefone" required>
  <input type="date" name="data" required>
  <input type="time" name="horario" required>
  <input type="number" name="pessoas" placeholder="Número de pessoas" required>
  <button type="submit"class="btn btn-outline-info">Reservar</button>
</form>